<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Password Reset - Petsbook</title>
</head>
<body>
  <h1>Hello, {{ name }}!</h1>
  <p>We received a request to reset your password for your Petsbook account.</p>
  <p>To reset your password, click <a href="{{ confirm_link }}">{{ confirm_link }}</a>.</p>
  <p>If you did not request a password reset, please ignore this email or contact support if you have concerns.</p>
  
  <p>Contact us:</p>
  <p>Phone: {{ Sender_Phone }}</p>
  <p>Email: {{ Sender_Email }}</p>
  <p>Address: {{ Company_Address }}</p>
  <p>Website: {{ Company_Website }}</p>
</body>
</html>